* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.main {
  margin-top: 20px;
}

.search-form {
  text-align: center;
}

.weather-results {
  display: none;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #202020;
  color: white;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
  margin-top: 20px;
}

.weather-results.active {
  display: block;
}
